@page
@model Heron_Cendre.Pages.Heron_Model.AdminInterfaceModel
@{
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/adminInterface.css">
    <title>Document</title>
</head>
    <h1>Gestion de Heron Cendre</h1>
    <a asp-page="Prestation/IndexPrestation"><button class="btn1">Prestation</button></a>
    <a asp-page="Menu/IndexMenu"><button class="btn2">Menu</button></a>
    <a asp-page="Chambre/IndexChambre"><button class="btn3">Chambre</button></a>
    <a asp-page="Evenement/IndexEvenement"><button class="btn4">Evenement</button></a>
