@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Heron_Cendre</title>
    <link rel="stylesheet" href="~/css/css.css" />


</head>
<nav class="navbar">
    <ul>
        <li><a class="linav" asp-page="View/restaurant">Restaurant</a></li>
        <li><a class="linav" href="View/Prestation">Prestation</a></li>
        <a asp-page="View/ConnectAdmin"><li id="H">Le Héron Cendré</li></a>
        <li><a class="linav" asp-page="View/propos">À propos</a></li>
        <li><a class="linav" asp-page="View/evenement">Évènement</a></li>
    </ul>
</nav>
<div class="box">
    <p id="t1">Welcome to Heron Cendre</p>
    </pre><p id="t2">Bienvenue dans le monde du<br>&emsp;&emsp;&emsp;&emsp;&emsp;plaisir</p>
    <p id="t3">Voulez-vous reserver une chambre?</p>
    @if(@Model.test != null)
    {
        <div id="btn"><a asp-page="View/menu" target="_blank">reserver</a></div>
    }
    else
    {
        <div id="btn"><a asp-page="View/Connexion" target="_blank">reserver</a></div>
    }
    
    <div class="cercle"></div>
    <div class="cercle2"></div>
</div>
<div class="vil">@Model.test</div>
@if(@Model.test != null)
{
    <div id="cov"></div>
}
<style>
    .vil{
        height:30px;
        width:60px;
        position: absolute;
        top:100px;
        right:115px;
        border:3px solid white;
        border-radius:20px;
        text-align:center;
    }
    #cov{
        position:absolute;
        top:0;
        left:510px;
        height:100px;
        width:600px;
    }
</style>
<script>
    const img = document.querySelector('body');
    const btn2 = document.querySelector('.cercle2');
    const btn = document.querySelector('.cercle');
    function transpo() {
        img.classList.toggle('even');
        img.classList.remove('even2');
    }
    function transpo2() {
        img.classList.toggle('even2');
        img.classList.remove('even');
    }
    btn2.addEventListener('click', transpo);
    btn.addEventListener('click', transpo2);
</script>
