@page
@model Heron_Cendre.Pages.View.plsConnectModel
@{
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    <h1>
        &emsp;&emsp;Veuillez vous connecter sur notre site. <br>
        Pour profiter des differentes options du Heron
    </h1>
    <a asp-page="Connexion"><button>Connection</button></a>


<style>
    body {
        font-family: 'andika';
        height: 100vh;
        background: linear-gradient(90deg,rgb(37, 248, 255),40%,rgb(255, 255, 255));
        margin: 0;
    }

    h1 {
        font-size: 50px;
        position: absolute;
        top: 25%;
        left: 15%;
    }

    button {
        height: 40px;
        position: absolute;
        top: 55%;
        left: 47%;
    }
</style>
