@page
@model Heron_Cendre.Pages.View.proposModel
@{
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Restaurant</title>
    <link rel="stylesheet" href="~/css/propoCss.css" />
</head>
<nav class="navbar">
    <ul class="ulnav">
        <li><a href="#">Prestation</a></li>
        <li><a asp-page="../Index" target="_blank">Accueil</a></li>
        <li class="tit2">A Propos</li>
        <li><a asp-page="evenement" target="_blank">Evènement</a></li>
        <li><a asp-page="restaurant">Restaurant</a></li>
    </ul>
</nav>
<div class="sombre"></div>
<div class="bg"></div>
<div class="cercle"></div>
<div class="cercle2"></div>
<p id="titre">Héron Cendré</p>
<div class="txt">
    <p id="var">
        Existant depuis des décennies et tenu, par la même
        famille de passionnés, Heron souhaite faire vivre
        des moments magique a leurs clients. Depuis peu,
        le complexe propose d’ailleurs des prestations bien‐être,
        spa, détente, massages à l’eau.
    </p>
</div>
<div class="tel"></div>
<p class="tel">: 693092986</p>
<div class="mail"></div>
<p class="mail">: samybodio2@gmail.com</p>
<div class="imgB">
    <div class="image"></div>
    <div class="image"></div>
    <div class="image"></div>
    <div class="image"></div>
</div>
