@page
@model Heron_Cendre.Pages.View.CarteInfo.cPrestaModel
@{
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reservation Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>

    <section class="banner">
        <h2>RÉSERVEZ VOTRE PRESTATION MAINTENANT</h2>
        <div class="card-container">
            <div class="card-img">
                <!-- image here -->
            </div>

            <div class="card-content">
                <h3>Reservation</h3>
                <form method="post">

                    <div class="form-row">
                        <input type="text" placeholder="Numero de commande" name="NumCom">
                        <input type="number" placeholder="heure" name="heure">

                    </div>

                    <div class="form-row">
                        <input type="submit" value="Envoyer">
                    </div>
                </form>
            </div>
        </div>
    </section>

</body>

