@page
@model Heron_Cendre.Pages.View.CarteInfo.SuccessModel
@{
}

    <h1>
        &emsp;&emsp;Votre operation a bien été prise en compte. <br>
        Merci de nous attribuer votre confiance
    </h1>


<style>
    body {
        font-family: 'andika';
        height: 100vh;
        background: linear-gradient(90deg,rgb(42, 255, 60),40%,rgb(255, 255, 255));
        margin: 0;
    }

    h1 {
        font-size: 50px;
        position: absolute;
        top: 25%;
        left: 15%;
    }

    button {
        height: 40px;
        position: absolute;
        top: 55%;
        left: 47%;
    }
</style>

